.hsx-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(28,187,251);
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.hsx-logo p {
  width: 80px;
  height: 30px;
  color: rgb(205,64,74);
  background-color: rgb(50,73,94);
  line-height: 30px;
  font-size: 32px;
}

.am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.page-content {
  padding: 45px 5px;
}